@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV-hs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rs-VQ.ttf) format('truetype');
}
body{
    display: flex;
    font-family: 'Open Sans';
    justify-content: center;
}
.form{
    margin-top: 20px;
    width: 350px;
    border: 1px solid #888888;
    border-radius: 2px;
    padding: 25px;
}
.form__field{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #9e9e9e;
    border-radius: 2px;
    outline: none;
}
.form__field:hover{
    border: 1px solid #737373;
}
.form__field:focus{
    border: 1px solid #525252;
}
.form__field_error{
    border-color: red;
    color: red;
    background-color: rgba(255, 0, 0, .1);
}
.form__field_error:hover,
.form__field_error:focus{
    border-color: red;
}
.form__field_verified{
    border-color: green;
    color: green;
    background-color: rgba(0, 128, 0, .1);
}
.form__field_verified:hover,
.form__field_verified:focus{
    border-color: green;
}
.form__error{
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}
.form__btn{
    width: 100%;
    padding: 8px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #00bf00;
    margin-bottom: 10px;
    cursor: pointer;
}
.form__btn:hover{
    background-color: #009d00;
}
.form__link{
    display: block;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #004d99;
    margin-bottom: 5px;
}
.form__link:hover{
    color: #0069cf;
}
.form__title{
    margin: 0 0 20px 0;
}