{% extends 'flea_market/base.html' %}
{% load staticfiles %}
{% block styles %}<link rel="stylesheet" href="{% static 'flea_market/css/flea_market_index.css' %}" type="text/css">{% endblock %}
{% block header_title %}
    Барахолка
{% endblock header_title %}
{% block main %}
<main class="main">
  <div class="main-content">


    <div class="main-content-info">
      <h5>ОПЛАТИТЕ ВЫДЕЛЕНИЕ ОБЪЯВЛЕНИЯ ЧЕРЕЗ БАНКОМАТ, ИНФОКИОСК, ИНТЕРНЕТ-БАНКИНГ, МТС И LIFE:)!</h5>
      <a class="price-link" href="#">Посмотреть цены</a>
    </div>
    <div class="main-content-categories">
            {% for cat in categories %}
                <div class="category">
                  <div class="category-title">
                    <img class="category-title-ico" src="{% static 'flea_market/img/ico/cat' %}{{ cat.number_section }}.svg">
                    <h4>{{ cat.name }}</h4>
                  </div>
                  <ul class="category-list">
                    <li class="category-item">
                      <a class="category-item-link" href="#">Новое за 24 часа</a>
                      <small class="category-item-count">10000</small>
                    </li>

                      {% for subcat in cat.sectionproduction_set.all %}
                          <li class="category-item">
                      <a class="category-item-link" href="{% url 'flea_market:products'  subcat.number_section %}">{{ subcat.name }}</a>
                      <small class="category-item-count">10000</small>
                    </li>
                          {% endfor %}
                  </ul>
                </div>
            {% endfor %}
    </div>
  </div>
</main>
{% endblock main %}
{% block js %}<script src="{% static 'flea_market/js/flea_market_index.js' %}"></script>{% endblock %}

